:root{
    --primary: #0B0C10;
    --text: white;
}   

html, body {
    margin: 0;
    height: 100%;
}

header {
    color: var(--text);
    background-color: var(--primary);
}

#logo{
    height: 6.5rem !important;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F6F6F6 !important;
    opacity: 1; /* Firefox */
  }